.storiesSlider {
  --offeset: 15px;
  --offeset-vertical: 20px;
}

.storiesSlider_innerWrapper {
  width: 100%;
  height: 100%;
}

.storiesSlider_innerSlide {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.storiesSlider_fullBtn, .storiesSlider_previewCard{
  z-index: 2;
}

.storiesSlider_previewCard {
  position: absolute;
  top: 30px;
  left: var(--offeset);
  display: flex;
  color: var(--color-reverse);
  max-width: calc(50% - var(--offeset));
}

.storiesSlider_fullBtn{
  font-weight: normal;
  position: absolute;
  left: var(--offeset);
  right: var(--offeset);
  bottom: var(--offeset-vertical);
}

.storiesSlider_innerSlide:not(:last-child) .storiesSlider_fullBtn{
  display: none;
}

.storiesSlider_previewPicture {
  flex-shrink: 0;
  width: 32px;
  height: 52px;
  margin-right: 10px;
  border-radius: var(--small-radius);
}

.storiesSlider_date {
  font-size: 11px;
  opacity: 0.6;
}

.storiesSlider_picture {
  height: 100%;
}

.storiesSlider .swiper-button-lock {
  display: flex;
}

.storiesSlider .swiper-pagination {
  --pagination-offset: -4px;
  top: 0;
  bottom: auto;
  display: flex;
  margin-left: var(--pagination-offset);
  margin-right: var(--pagination-offset);
  padding: var(--offeset-vertical) var(--offeset) 0 var(--offeset);
  box-sizing: border-box;
}

.storiesSlider .swiper-pagination-bullet {
  width: 100%;
  height: 2px;
  border-radius: var(--radius);
}

.storiesSlider .swiper-pagination-bullet,
.storiesSlider .swiper-pagination-bullet-active {
  background: rgba(0%, 0%, 0%, 20%);
  opacity: 1;
}

.storiesSlider .swiper-pagination-bullet-active {
  position: relative;
}

.storiesSlider .swiper-slide-active .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  animation: bulletProgress var(--autoplay-delay) linear;
}

.storiesSlider .swiper-pagination-bullet:only-child {
  display: block !important; /* в  дефолтных стилях свайпера используется !important , поэтому иначе никак */
}

.storiesSlider .swiper-button-next {
  right: 0;
}

.storiesSlider .swiper-button-prev {
  left: 0;
}

.storiesSlider [class*="swiper-button-"][class*="storiesSlider_main"].show {
  display: flex;
}

.storiesSlider [class*="storiesSlider_main"].swiper-button-disabled,
.storiesSlider [class*="swiper-button-"][class*="storiesSlider_main"] {
  display: none;
}

.storiesSlider_poster {
  height: 100%;
}

@media (min-width: 759px) {
  .storiesSlider {
    --nav-arrow-width: 8px;
    --nav-btn-size: 44px;
    --slide-width: 400px;
    flex-grow: 1;
    height: 86%;
    max-height: 655px;
    min-height: 425px;
    margin: 0;
  }

  .storiesSlider .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .storiesSlider .swiper-slide {
    z-index: 1;
    display: flex;
    align-items: flex-start;
  }

  .storiesSlider_mainSlide.swiper-slide {
    width: var(--slide-width);
    overflow: hidden;
  }

  .storiesSlider_innerWrapper {
    overflow: unset;
  }

  .storiesSlider_innerSlide {
    flex-direction: column;
    border-radius: 0;
    overflow: hidden;
  }

  .storiesSlider_mainSlide {
    border-radius: var(--wide-radius);
  }

  .storiesSlider_poster {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .storiesSlider_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: calc(var(--slide-width) + 2 * var(--nav-btn-size) + 20px);
  }

  .storiesSlider [class*="swiper-button-"] {
    --arrow-shift: 0;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  }

  .storiesSlider [class*="swiper-button-"]::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: var(--nav-arrow-width);
    height: calc(2 * var(--nav-arrow-width));
    font-family: sans-serif;
    background: var(--icon-arrow) 50% 50% / contain no-repeat;
  }

  .storiesSlider .swiper-button-prev::after {
    transform: rotate(180deg);
  }

  .storiesSlider [class*="swiper-slide-shadow"]{
    background: rgba(28, 28, 28, 0.3);
  }

  [class*="storiesSlider_innerPrev"].js-disabled{
    opacity: 0.4;
    pointer-events: none;
  }
}

@media (max-width: 758px) {
  .storiesSlider {
    width: 100%;
    height: 100%;
  }

  .storiesSlider_arrows [class*="swiper-button"]{
    height: 100%;
    margin-top: 0;
    top: 0;
    border: none;
    width: 50%;
    background: transparent; 
    opacity: 0;
    z-index: -1;
  }

  .storiesSlider_mainWrapper{
    pointer-events: none;
  }

  .storiesSlider_previewCard,
  .storiesSlider_fullBtn, 
  .storiesSlider_innerPagination{
    pointer-events: auto;
  }

  .storiesSlider_main {
    height: 100%;
  }

  .storiesSlider_name {
    font-size: 13px;
  }
}

@keyframes bulletProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


/dsdfdf
