/* высота картинки в процентах
высота самого слайда в процентах */

/* клик, засовываем данные через js, запускаем анимацию
отдельный класc\модуль
*/

.storiesSlider {
  --offeset: 15px;
}

.swiper-button-lock {
  display: flex;
}

.storiesSlider_innerWrapper {
  width: 100%;
  height: 100%;
}

.storiesSlider_innerSlide {
  background-color: var(--color-bg);
}

.storiesSlider_previewCard .storiesSlider_date {
  font-size: 11px;
  opacity: 0.6;
}

.storiesSlider_previewCard {
  position: absolute;
  top: 30px;
  left: var(--offeset);
  display: flex;
  z-index: 2;
  color: var(--color-reverse);
}


.storiesSlider_previewCard .storiesSlider_picture {
  width: 32px;
  height: 52px;
  flex-shrink: 0;
  border-radius: var(--small-radius);
  margin-right: 10px;
}

.storiesSlider_picture {
  height: 100%;
}

.storiesSlider_innerSlide {
  display: flex;
  flex-direction: column;
}
.storiesSlider_info {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.storiesSlider_btnWrapper {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.storiesSlider_title {
  font-weight: bold;
}

.storiesSlider_desc {
  margin-bottom: 25px;
}

.storiesSlider_btn {
  width: 100%;
  font-weight: normal;
}

.storiesSlider .swiper-pagination {
  --pagination-offset: -4px;
  top: 0;
  bottom: auto;
  display: flex;
  padding: 20px var(--offeset) 0 var(--offeset);
  box-sizing: border-box;
  margin-left: var(--pagination-offset);
  margin-right: var(--pagination-offset);
}

.storiesSlider .swiper-pagination-bullet {
  width: 100%;
  height: 2px;
  border-radius: var(--radius);
}

.storiesSlider .swiper-pagination-bullet,
.storiesSlider .swiper-pagination-bullet-active {
  background: rgba(0%, 0%, 0%, 20%);
  opacity: 1;
}

.storiesSlider .swiper-pagination-bullet-active {
  position: relative;
}

.storiesSlider .swiper-slide-active .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  animation: bulletProgress var(--autoplay-delay) linear;
}

.storiesSlider .swiper-pagination-bullet:only-child {
  display: block !important;
}

/* ---------------------/ START desktop --------------------- */
@media (min-width: 759px) {
  .storiesSlider {
    --nav-arrow-width: 8px;
    --nav-btn-size: 44px;
    --slide-width: 400px;
    margin: 0;
    flex-grow: 1;
 
    height: 86%;
    max-height: 655px;
    min-height: 425px;
  }

  .storiesSlider .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .storiesSlider_arrows {
    width: calc(var(--slide-width) + 2 * var(--nav-btn-size) + 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .storiesSlider .swiper-button-next {
    right: 0;
  }

  .storiesSlider .swiper-button-prev {
    left: 0;
  }

  .storiesSlider [class*="swiper-button-"] {
    --arrow-shift: 0;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  }

  .storiesSlider [class*="swiper-button-"]::after {
    content: "";
    display: block;
    width: var(--nav-arrow-width);
    height: calc(2 * var(--nav-arrow-width));
    flex-shrink: 0;
    font-family: sans-serif;
    background: var(--icon-arrow) 50% 50% / contain no-repeat;
  }

  .storiesSlider .swiper-button-prev::after {
    transform: rotate(180deg);
  }

  .storiesSlider .swiper-slide {
    display: flex;
    align-items: flex-start;
    z-index: 1;
  }

  .storiesSlider_mainSlide.swiper-slide {
    /* height: 450px; */
    width: var(--slide-width);
  }

  .storiesSlider [class*="swiper-button-"][class*="storiesSlider_main"].show {
    display: flex;
  }

  .storiesSlider [class*="storiesSlider_main"].swiper-button-disabled,
  .storiesSlider [class*="swiper-button-"][class*="storiesSlider_main"] {
    display: none;
  }
  .storiesSlider_innerWrapper {
    overflow: unset;
  }

  .storiesSlider_mainSlide {
    overflow: hidden;
  }

  .storiesSlider_innerSlide {
    border-radius: var(--wide-radius);
    overflow: hidden;
    flex-direction: column;
  }

  .storiesSlider_poster {
    width: 100%;
    /* TODO: % */
    height: 69%;
    position: relative;
    z-index: 1;
  }

  

  .storiesSlider_title {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
/* ---------------------/ END desktop --------------------- */

/* ---------------------/ START mobile --------------------- */
@media (max-width: 758px) {
  .storiesSlider {
    /* width: 100%; */
    width: 100%;
    height: 100%;
  }

  .storiesSlider_main {
    height: 100%;
  }

  .storiesSlider_innerWrapper {
    overflow: unset;
  }
  .storiesSlider_arrows {
    display: none;
  }

  .storiesSlider_previewCard .storiesSlider_name {
    font-size: 13px;
  }
  .storiesSlider_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .storiesSlider_desc {
    font-size: 18px;
  }
}
/* ---------------------/ END mobile --------------------- */

@keyframes bulletProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* ---------------------/ END pagination --------------------- */

/* START for debug */
/* .storiesSlider [class*="swiper-button-"][class*="storiesSlider_inner"] {
  background-color: green;
} */

/* .storiesSlider_innerSlide.swiper-slide {
  background-color: pink;
} */

/* .storiesSlider [class*="swiper-button-"][class*="storiesSlider_main"] {
  background-color: red;
  margin-top: 30px;
} */

.storiesSlider_arrows {
  /* background-color: yellow;
  height: 100px; */
}
/* END for debug */
